# Virtual environment
.venv/

# Local Postgres data
.pgdata/
.env


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Testing / tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Editors
.idea/
.vscode/
*.swp
